{{ ansible_managed | comment }}

[Unit]
Description=sql_exporter
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ sql_exporter_system_user }}
Group={{ sql_exporter_system_group }}
ExecStart=/usr/local/bin/sql_exporter
SyslogIdentifier=sql_exporter
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
